<header>
  <h1>Devour it!</h1>

  <h2>Let's make a burger to eat...</h2>

  <div>
    <img src="assets/img/cute_burger_guy.png" alt="Cute Burger">
  </div>
</header>

<div class="burgers-to-eat">
  <h3>Burgers to Eat:</h3>
  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
      {{burger_name}}
      <button class="btn btn-danger eat-burger" data-id="{{id}}">
        EAT ME!
      </button>
    </li>
    {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="burgers-eaten">
  <h3>Burgers Consumed:</h3>
  <ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
      {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
  </ul>
</div>

<div class="clearfix"></div>

<div class="add-burger">
  <h3>Add a Burger</h3>
  <form class="create-form">

    <div class="form-group">
      <label for="bur">Burger Name:</label>
      <input type="text" id="bur" name="burger_name">
    </div>

    <button class="btn btn-success create-form" type="submit">Add Burger</button>
  </form>
</div>